<script>
import Card from './Card.vue';

export default {
  components: { Card },
  props: {
    gameState: {
      type: Object,
      required: true,
    },
  },
};
</script>

<template>
  <div class="battlefield">
    <div class="battle-slot attack">
      Attack Card
      <Card v-if="this.gameState.battlefield[0]" :details="this.gameState.battlefield[0]" />
    </div>

    <div class="battle-slot defense">
      Defense Card
      <Card v-if="this.gameState.battlefield[1]" :details="this.gameState.battlefield[1]" />
    </div>
  </div>
</template>

<style scoped>
.battlefield {
  display: flex;
  justify-content: space-around;
  margin: 50px 0;
}

.battle-slot {
  border: 2px dashed #666;
  padding: 40px 60px;
  background-color: #eee;
}
</style>
