<script>
export default {
  name: 'Card',
  emits: ['selected'],
  props: {
    isFaceUp: { type: Boolean, required: false, default: true },
    details: {
      type: Object,
      required: true,
      default: () => ({ title: '', image: '', description: '', strength: 0 }),
    },
  },
};
</script>

<template>
  <div v-if="isFaceUp" class="card">
    <div class="card-strength">{{ details.strength }}</div>
    <div class="card-header">
      <h3 class="card-title">{{ details.title }}</h3>
    </div>
    <img :src="details.image" class="card-image" alt="Card Image" />
    <div class="card-description">{{ details.description }}</div>
  </div>
  <div v-else class="card-back">
    <!-- Design for the back of the card -->
  </div>
</template>
<style scoped>
.card {
  position: relative;
  width: 200px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  background-color: #fff;
}

.card-strength {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #f1f1f1;
  padding: 5px;
  border-radius: 50%;
  font-weight: bold;
}

.card-header {
  padding: 10px;
  background-color: #f1f1f1;
  border-bottom: 1px solid #ddd;
}

.card-title {
  margin: 0;
  font-size: 1.2em;
}

.card-image {
  width: 100%;
  display: block;
}

.card-description {
  padding: 10px;
  font-size: 0.9em;
  color: #333;
}

.card-back {
  width: 200px;
  height: 280px;
  background-color: #2a2a2a;
  border-radius: 10px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
</style>
