<script>
import Card from './Card.vue';

export default {
  name: 'CardSelector',
  components: {
    Card,
  },
  emits: ['select'],
  props: {
    cards: {
      type: Array,
      required: true,
    },
    selectedCards: {
      type: Array,
      required: false,
      default: () => [],
    },
  },
  methods: {
    selectCard(card) {
      this.$emit('select', card);
    },
    checkIfSelected(card) {
      return Boolean(this.selectedCards.find((item) => item.title === card.title));
    },
  },
};
</script>

<template>
  <div class="card-container">
    <Card
      v-for="item in cards"
      :key="item.title"
      :details="item"
      :class="{ selected: checkIfSelected(item) }"
      @click="selectCard(item)"
    />
  </div>
</template>

<style scoped>
.card-container {
  display: flex;
  align-items: flex-start;
  overflow-x: auto;
  padding: 20px;
  gap: 10px; /* Space between cards */
}

.card {
  width: 200px;
  height: 280px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  position: relative;
  background-color: white;
  transition: all 0.3s ease;
  cursor: pointer;
  margin-left: -50px; /* This creates the overlapping effect */
  flex-shrink: 0; /* Prevents resizing in flex container */
}

.card:first-child {
  margin-left: 0; /* First card should not overlap */
}

.card:hover {
  transform: translateY(-20px) scale(1.05);
  z-index: 2; /* Ensures the card is above others on hover */
}

.card.selected {
  border: 5px solid;
  border-image: linear-gradient(to right, violet, indigo, blue, green, yellow, orange, red) 1;
}

.card-title,
.card-description {
  padding: 10px;
}

.card-image {
  width: 100%;
  height: 160px; /* Adjust as needed */
  object-fit: cover; /* Ensures the image covers the area */
  border-top-left-radius: 9px; /* Matches the card's border radius */
  border-top-right-radius: 9px;
}
</style>
