<script>
export default {
  props: {
    name: { type: String, required: true },
    cardsInDeck: { type: Number, required: true },
  },
};
</script>

<template>
  <div class="deck">
    <h3>{{ name }}'s Deck</h3>
    <p>cards remaining {{ cardsInDeck }}</p>
  </div>
</template>

<style scoped></style>
