<script>
import PlayerSide from './PlayerSide.vue';
import OpponentSide from './OpponentSide.vue';
import Battlefield from './Battlefield.vue';
import TurnControl from './TurnControl.vue';

export default {
  components: { PlayerSide, OpponentSide, Battlefield, TurnControl },
  props: {
    playerDeck: {
      type: Array,
      required: true,
    },
    opponentDeck: {
      type: Array,
      required: true,
    },
  },
  data() {
    return {
      gameState: {
        currentPlayer: 0,
        players: [
          { deck: this.playerDeck, hand: [], empire: [] },
          { deck: this.opponentDeck, hand: [], empire: [] },
        ],
        battlefield: [],
      },
    };
  },
  methods: {
    handleTurnEnd() {
      let { currentPlayer } = this.gameState;

      if (currentPlayer + 1 === players.length) {
        currentPlayer = 0;
      } else {
        currentPlayer++;
      }
    },
    handleDrawCard() {
      const player = this.gameState.players[this.gameState.currentPlayer];

      player.hand.push(player.deck.pop());
    },
    handlePlayCard(card) {
      const player = this.gameState.players[this.gameState.currentPlayer];
      const cardPlayedIndex = player.hand.findIndex((item) => item.title === card.title);

      //error handling
      if (cardPlayedIndex === -1) {
        console.error('Card not found in hand');
        return;
      }

      const removedCard = player.hand.splice(cardPlayedIndex, 1)[0];
      if (card.isUnit) {
        this.gameState.battlefield.push(removedCard);
      } else {
        player.empire.push(removedCard);
      }
    },
  },
};
</script>

<template>
  <div class="game-container">
    <opponent-side :game-state="gameState" />
    <battlefield :game-state="gameState" />
    <turn-control :game-state="gameState" @turn-ended="handleTurnEnd" />
    <player-side
      @draw-card="handleDrawCard"
      @play-card="handlePlayCard"
      :game-state="gameState"
      :playerNumber="0"
    />
    <div>{{ gameState }}</div>
  </div>
</template>

<style scoped>
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.game-container {
  width: 80%;
  max-width: 1200px;
  text-align: center;
}

.deck-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.player-deck {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.card {
  border: 1px solid #ddd;
  padding: 20px;
  margin: 5px;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.deck {
  border: 1px solid #ddd;
  padding: 20px;
  margin: 5px;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.battlefield {
  display: flex;
  justify-content: space-around;
  margin: 50px 0;
}

.battle-slot {
  border: 2px dashed #666;
  padding: 40px 60px;
  background-color: #eee;
}

.row {
  display: flex;
}
</style>
