<script>
export default {
  props: {
    // isTurn: { type: Boolean, required: true },
    // deck: {
    //   type: Array,
    //   required: true,
    // },
  },
};
</script>

<template>
  <div class="deck-area bot">
    <div class="deck-area human">
      <div class="deck">
        <h3>Opponent's Hand</h3>
        <ul>
          <li>card 1</li>
          <li>card 2</li>
        </ul>
      </div>
      <div class="row">
        <div class="deck">
          <h3>Opponent's Empire</h3>
          <ul>
            <li>card 1</li>
            <li>card 2</li>
          </ul>
        </div>
        <div class="card">
          <h3>Opponent's Deck</h3>
          <!-- <p>cards remaining {{ deck.length }}</p> -->
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped>
.deck-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.card {
  border: 1px solid #ddd;
  padding: 20px;
  margin: 5px;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.deck {
  border: 1px solid #ddd;
  padding: 20px;
  margin: 5px;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.row {
  display: flex;
}
</style>
