<script>
import Card from './Card.vue';
import Deck from './Deck.vue';
import CardSelector from './CardSelector.vue';

export default {
  components: { Deck, Card, CardSelector },
  emits: ['draw-card', 'play-card'],
  props: {
    gameState: {
      type: Object,
      required: true,
    },
    playerNumber: {
      type: Number,
      required: true,
    },
  },
  data() {
    return {
      player: this.gameState.players[this.playerNumber],
    };
  },
  methods: {
    playCard(card) {
      this.$emit('play-card', card);
    },
    drawCard() {
      this.$emit('draw-card');
    },
  },
};
</script>

<template>
  <div class="deck-area human">
    <div class="row">
      <div class="empire-container">
        <h3>Player's Empire</h3>
        <ul>
          <Card v-for="item in player.empire" :details="item" />
        </ul>
      </div>
    </div>

    <div class="hand-container">
      <h3>Player's Hand</h3>
      <card-selector :cards="cards" @select-card="selectCard" />
    </div>
  </div>
</template>

<style scoped>
.empire-container {
  border: 1px solid #ddd;
  padding: 20px;
  margin: 5px;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.hand-container {
  border: 1px solid #ddd;
  padding: 20px;
  margin: 5px;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.row {
  display: flex;
}
</style>
