<script>
export default {
  name: 'TurnControl',
  emits: ['turn-ended'],
  props: {
    gameState: {
      type: Object,
      required: true,
    },
  },
  methods: {
    endTurn() {
      this.$emit('turn-ended');
    },
  },
};
</script>

<template>
  <p>It is the {{ gameState.isPlayerTurn ? 'Player' : 'Opponent' }}'s turn</p>
  <div v-if="gameState.isPlayerTurn">
    <button @click="endTurn">End Turn</button>
  </div>
</template>
