<script>
import CardSelector from './CardSelector.vue';

export default {
  name: 'Welcome',
  components: {
    CardSelector,
  },
  props: {
    cards: {
      type: Object,
      required: true,
    },
  },
  emits: ['confirm-selection'],
  data() {
    return {
      playersHand: [],
      selectedCards: [],
    };
  },
  computed: {
    selectedCount() {
      return this.selectedCards.length;
    },
    allCards() {
      return [...this.cards.units, ...this.cards.nonUnits];
    },
  },
  methods: {
    confirmSelection() {
      this.$emit('confirm-selection', this.selectedCards);
    },
    selectCard(card) {
      if (this.checkIfSelected(card)) {
        this.selectedCards = this.selectedCards.filter((c) => c.title !== card.title);
      } else {
        this.selectedCards.push(card);
      }
    },
    checkIfSelected(card) {
      return Boolean(this.selectedCards.find((item) => item.title === card.title));
    },
    addRandomCards() {
      const shuffled = this.allCards.sort(() => 0.5 - Math.random());
      this.selectedCards = shuffled.slice(0, 10);
    },
  },
};
</script>

<template>
  <div class="card-counter">Selected: {{ selectedCount }}/10</div>

  <card-selector :cards="cards.units" @select="selectCard" :selectedCards="selectedCards" />
  <card-selector :cards="cards.nonUnits" @select="selectCard" :selectedCards="selectedCards" />

  <button @click="addRandomCards">Random</button>
  <button :disabled="selectedCards.length !== 10" @click="confirmSelection">
    Confirm Selection
  </button>
</template>

<style scoped></style>
