<script>
import Game from './components/Game.vue';
import Welcome from './components/Welcome.vue';

export default {
  components: { Game, Welcome },
  methods: {
    onConfirmSelection(deck) {
      this.playerDeck = deck;
      this.gameStarted = true;
    },
  },

  data() {
    return {
      playerDeck: [],
      opponentDeck: [],
      availableCards: {
        units: [
          { title: 'Velites', strength: 1, isUnit: true, image: 'default_unit.webp' },
          { title: 'Leves', strength: 2, isUnit: true, image: 'default_unit.webp' },
          { title: 'Hastati', strength: 3, isUnit: true, image: 'default_unit.webp' },
          { title: 'Principes', strength: 4, isUnit: true, image: 'default_unit.webp' },
          { title: 'Triarii', strength: 5, isUnit: true, image: 'default_unit.webp' },
          { title: 'Equites', strength: 6, isUnit: true, image: 'default_unit.webp' },
          { title: 'Sagittarii', strength: 7, isUnit: true, image: 'default_unit.webp' },
          { title: 'Auxilia', strength: 8, isUnit: true, image: 'default_unit.webp' },
          {
            title: 'Praetorian Guard',
            strength: 9,
            isUnit: true,
            image: 'default_unit.webp',
          },
          {
            title: 'Legatus Legionis',
            strength: 10,
            isUnit: true,
            image: 'default_unit.webp',
          },
        ],
        nonUnits: [
          {
            title: 'Scout Post',
            isUnit: false,
            image: 'default_non_unit.webp',
            strength: 1,
          },
          {
            title: 'Wooden Palisade',
            isUnit: false,
            image: 'default_non_unit.webp',
            strength: 2,
          },
          {
            title: 'Watchtower',
            isUnit: false,
            image: 'default_non_unit.webp',
            strength: 3,
          },
          {
            title: 'Guard Tower',
            isUnit: false,
            image: 'default_non_unit.webp',
            strength: 4,
          },
          {
            title: 'Stone Fortress',
            isUnit: false,
            image: 'default_non_unit.webp',
            strength: 5,
          },
        ],
      },
      gameStarted: false,
    };
  },
};
</script>

<template>
  <game v-if="gameStarted" :player-deck="playerDeck" :opponent-deck="opponentDeck" />
  <welcome v-else :cards="availableCards" @confirm-selection="onConfirmSelection" />
</template>

<style scoped></style>
